<footer>
    <div class="f-info border-top mb-2">
        <div class="d-flex pt-4 px-5 justify-content-between">
            <div class="f-logo">
                <a class="navbar-brand" href="/"><i class="fa-regular fa-compass fa-xl"
                        style="color: #f00a0a;"></i><span class="nav-txt-color">Wanderlust</span></a>
            </div>
            <div class="policy d-flex flex-column justify-content-end">
                <div class="social mb-3 d-flex justify-content-end">
                    <i class="fa-brands fa-instagram fa-lg"></i>
                    <i class="fa-brands fa-facebook fa-lg"></i>
                    <i class="fa-brands fa-x-twitter fa-lg"></i>
                </div>
                <div class="plicies">
                    <a href="#" target="_blank">Privacy Policy</a>
                    <a href="#" target="_blank">Terms of Service</a>
                </div>
            </div>
        </div>
        <div class="copy text-center mt-2 mb-2">
            <p>&#169; <span>2026</span> | All Right Reserved</p>
        </div>
    </div>
</footer>